{% extends 'base.html' %}

{% block content %}
<main class="grid place-items-center py-10">
  <h1 class="text-white text-3xl font-bold">Welcome!</h1>

  {% if user.is_authenticated %}
    <p class="text-white text-lg">You are logged in as {{ user.username }}</p>
  {% else %}
    <div class="mt-5">
      <a href="/register" class="text-blue-violet-400 underline">Register</a>
      <a href="/login" class="text-blue-violet-400 underline">Login</a>
    </div>
  {% endif %}



  <div class="absolute top-0 right-0 p-5">
    {% if messages %}
      {% for message in messages %}
      <div class="p-3 rounded-md {% if message.tags %}bg-{{ message.tags }}-500 text-white{% else %}bg-gray-500 text-white{% endif %}">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</main>
{% endblock content %}